<div class="header">
        <!-- nav  kat tcollapsa ni kat fout taille medium-->
        <nav class="navbar navbar-expand-md navbar-light ">
            <!-- Le logo -->
            <a class="navbar-brand" href="/AccueilTouriste">
                <img src="assets\img\logo.PNG" width="140" height="30">
            </a>
            <!-- bttn en cas de collapse-->
            <button class="navbar-toggler"  data-toggle="collapse" data-target="#navbarTogglerDemo">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Elmts du menu-->
            <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                <form class="form-inline mr-3">
                    <input class="form-control mr-sm-2" type="search" placeholder="Partout.Logement">
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                            <a class="nav-link" href="messageTouriste">Message</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Deconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="dropdown-divider" style="margin-bottom: 0%"></div>
    <!--Les filtres de recherche-->

    </div>