<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <!-- Video 
      <div class="col-5 embed-responsive embed-responsive-16by9 mb-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZRptPmnc-Fs" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>-->
    </div>
  </div>
  <div class="dropdown-divider"></div>
<br/>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by
          <a href="#">Ensias</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>