<div class="header">
        <!-- nav  kat tcollapsa ni kat fout taille medium-->
        <nav class="navbar navbar-expand-md navbar-light ">
            <!-- Le logo -->
            <a class="navbar-brand" href="\AccueilHote">
                <img src="assets\img\logo.PNG" width="140" height="30">
            </a>
            <!-- Elmts du menu-->
            <div class="collapse navbar-collapse" id="navbarTogglerDemo">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" active>
                        <a class="nav-link" href="/AddLocation">Publier une annonce</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/messageHote">Message</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Deconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="dropdown-divider" style="margin-bottom: 0%"></div>
    <!--Les filtres de recherche-->